<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms | Project 1</title>
    {% load static %}
    <link rel="stylesheet" href="/static/rooms.css">
</head>
<body>
    <div class="nav-bar">
        <h1>Rooms</h1>
    </div>
    <div class="hero-section">
        <div class="input-section">
            <div class="room-number-input">
                <label for="room_id">Enter Room Number</label>
                <input type="text" id="room_id" >
            </div>
            <div class="btn-box">
                <button id="enter_room_btn">
                    Enter Room
                </button>
            </div>
        </div>
    </div>
    
</body>
</html>